h1{
    color: rgb(19, 112, 233);


  }

 body{       
      background-color: rgba(226, 0, 0, 0.712);

   }

  P{
  text-align: left;
  font-size: x-large;
  color: aliceblue;

  }

  #xre {
   width: 500px;
   height: 500px;

  }